<img src="{{pageImageUrl}}" class="page-image"/>
<a href="#" class="prev-arrow" {{action "prevPage"}}><img src="assets/img/prev-arrow.png"/></a>
{{#link-to "index"}}<img src="assets/img/home-icon.png" class="home-icon"/>{{/link-to}}
<a href="#" class="next-arrow" {{action "nextPage"}}><img src="assets/img/next-arrow.png"/></a>
