<h1 class="center-text">MegaZine</h1>

{{#each magazine in magazines}}
    <div class="mag-link">
		Magazine: {{#link-to "display-magazine" (query-params magName=magazine.magName)}}{{magazine.magName}}{{/link-to}}
    </div>
{{/each}}

