<h1 class="center-text">MegaZine</h1>

{{#each magazine in magazines}}
    <p class="mag-link">
		{{#link-to "display-magazine" (query-params magName=magazine.magName)}}Name:{{magazine.magName}}{{/link-to}}
    </p>
{{/each}}

